$cardColor: #222222;

mat-card {
    background-color: $cardColor;
}

.synopsis-description {
    color: white;
}

.synopsis-content {
    display: flex;
    flex-direction: row;
}

.synopsis-card-img {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    align-self: center;
  }

mat-card-title {
    margin: 10px;
    color: white;
}

.dir-title, .genre-title {
    margin-bottom: 10px;
    color: white;
}

  @media (max-width: 320px) {
    .synopsis-card-img {
        width: 100px;
        height: 150px;
    }
  }
  
  @media (min-width: 320px) {
    .synopsis-card-img {
        width: 100px;
        height: 150px;
    }
  }
  
  @media (min-width: 548px) {
    .synopsis-card-img {
        width: 200px;
        height: 300px;
    }
  }