<mat-card>
    <mat-card-title>{{ data.Title }}</mat-card-title>
    <mat-dialog-content class="synopsis-content">
        <div>
            <div class="dir-title"><span>Directed by</span>: {{ data.Director }}</div>
            <div class="genre-title"><span>Genre</span>: {{ data.Genre }}</div>
            <div><span>Description</span>: {{ data.Description }}</div>
        </div>
        <div>
            <img class="synopsis-card-img" src="{{data.Image}}" alt="">
        </div>
    </mat-dialog-content>
    <mat-card-actions>
        <button 
            mat-stroked-button 
            aria-label="Close the genre details button"
            mat-dialog-close 
            color="primary"
        >
            Close
        </button>
    </mat-card-actions>
</mat-card>